@import "./reset.scss";
// 全局样式
// 滚动条设置
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ccc;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f5f5f5;
}