$color: red;
// 左侧的菜单宽度
$base_menu_width: 260px;
// 左侧菜单折叠的宽度
$base_menu_width_mini: 70px;
// 左侧的菜单的bg
$base_menu_bg: #051528;
// 顶部导航的高度
$base_tabbar_height: 50px;
// 顶部导航的颜色
$base_tabbar_bg: white;
// 内容区域的bg
$base_main_bg: #f5f5f5;

// 左侧菜单的logo高度设置
$base_menu_logo_height:50px;

// 左侧菜单的logo的文字大小
$base_menu_logo_font_size:20px;